/*********** Resets */
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
fieldset, img { border: 0; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }
address, caption, cite, code, dfn, em, strong, th, var { font-weight: normal; font-style: normal; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%;}
q:before, q:after { content: ''; }
abbr, acronym { border: 0; }
a, object, embed { outline: none; }

body { margin: 0; padding: 0; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .clearfix { height: 1px; }
.clearfix { display: block; min-width: 0; }

/* Site Stuff */
body { font-family: Helvetica, Arial, sans; }
.name { font-size: 80px; }
.hours li {}
.address { font-size: 50px; }
.menu { font-size: 70px; }

section, footer { width: 85%; margin: 0 auto; }
